.overlay {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  animation: move 10s infinite alternate ease-in-out;
}